@use 'styles/mixins.scss';
@use 'styles/variables.scss' as var;

.sideLinks {
  @include mixins.absoluteCenter(var.$z-index-title);
  right: auto;
  left: var.$sidelink-margin;

  display: flex;
  justify-content: center;

  height: max-content;
  width: 0;

  transform: rotate(270deg);

  @include mixins.mediaNoteBook {
    left: var.$sidelink-margin-mob;
  }

  &_Who {
    left: auto;
    right: var.$sidelink-margin;

    transform: rotate(90deg);

    @include mixins.mediaNoteBook {
      right: var.$sidelink-margin-mob;
    }
  }

  &_What {
    right: 50%;
    left: 50%;
    top: auto;
    bottom: var.$sidelink-margin;

    transform: rotate(0) translate(-50%, 0);

    @include mixins.mediaNoteBook {
      bottom: 10px;
    }
  }

  @include mixins.mediaMiniTablet {
    display: none;

    &_mobNav {
      display: flex;
      @include mixins.absoluteCenter(var.$z-index-title);
      transform: rotate(0);

      &_Who {
        transform: translateY(100px);
      }

      &_What {
        transform: translateY(-100px);
      }
    }
  }

  &__link {
    position: relative;

    font-family: 'GrtskGigaFontMedium';
    font-size: 16px;
    line-height: var.$sidelink-line-height;
    letter-spacing: 0em;
    text-align: center;
    text-transform: lowercase;

    color: var.$color-text;

    transition: color 0.4s ease;

    @include mixins.mediaNoteBook {
      font-size: 14px;
      line-height: var.$sidelink-line-height-mob;
    }

    @include mixins.mediaMiniTablet {
      font-size: 30px;
    }

    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: -2px;

      width: 0;
      height: 2px;
      background-color: var.$color-white;

      transition: width 0.4s ease;
    }

    @include mixins.hover {
      &:hover {
        color: var.$color-white;

        &::after {
          width: 100%;
        }
      }
    }
  }
}
