@use 'styles/variables.scss' as var;
@use 'styles/mixins.scss';

.mobNav {
  display: none;
  @include mixins.absoluteCenter(var.$z-index-title);
  position: fixed;

  height: auto;

  margin-top: 50px;

  background-color: var.$color-back;

  @include mixins.mediaMiniTablet {
    display: block;
  }
}