@use 'styles/variables.scss' as var;
@use 'styles/mixins.scss';

.main {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  height: 100vh;
}