@use 'styles/mixins.scss';
@use 'styles/variables.scss' as var;

.routers {
  &::before {
    content: '';
    @include mixins.absoluteCenter(var.$z-index-page-animation);
    position: fixed;
    background-color: var.$color-back;
    width: 200%;
    height: 100%;

    transform: translateX(110%) skewX(0deg);

    -webkit-box-shadow: 0px 0px 37px -4px rgba(163, 160, 163, 1);
    -moz-box-shadow: 0px 0px 37px -4px rgba(163, 160, 163, 1);
    box-shadow: 0px 0px 37px -4px rgba(163, 160, 163, 1);
  }

  &_fadeIn {
    &::before {
      animation: 1s fadeIn forwards;
    }
  }

  &_fadeOut {
    &::before {
      animation: 0.7s fadeOut forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(0%) skewX(0deg);
  }
  100% {
    transform: translateX(110%) skewX(-30deg);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(110%) skewX(30deg);
  }
  100% {
    transform: translateX(0%) skewX(0deg);
  }
}
