@use './variables.scss' as var;

@font-face {
  font-family: 'GrtskGigaFont';
  src: url(./GrtskGiga-Bold.ttf);
  font-weight: 700px;
}

@font-face {
  font-family: 'GrtskGigaFontMedium';
  src: url(./GrtskGiga-Semibold.ttf);
  font-weight: 500px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'GrtskGigaFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var.$color-back;

  width: 100%;
  overflow: hidden;

  @media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767px) {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
}

a {
  text-decoration: none;
}
