$color-back: #bebebe;
$color-yellow: #ffcb46;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #373737;

$sidelink-margin: 19px;
$sidelink-margin-mob: 20px;
$sidelink-line-height: 22px;
$sidelink-line-height-mob: 29px;

$title-padding: calc($sidelink-margin + $sidelink-line-height);
$title-padding-mob: calc($sidelink-margin-mob + $sidelink-line-height-mob);

$z-index-back-text: -1;
$z-index-circle: 0;
$z-index-main: 1;
$z-index-title: 2;
$z-index-header: 3;
$z-index-page-animation: 3;
